{% extends 'wiki/base_template.html' %}
{% block content %}

    <div class="row justify-content-center">
        <div class="row">
            <div class="wiki-form">
                <div class="card">
                    <div class="card-header pb-0">
                        Register
                    </div>
                    <div class="card-body pt-0">
                        <form method="post" action="{% url 'register' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Username</label>
                                {{ form.username }}
                            </div>
                            <div class="form-group ">
                                <label for="password1">Password</label>
                                {{ form.password1 }}
                            </div>
                            <div class="form-group">
                                <label for="password2">Repeat Password</label>
                                {{ form.password2 }}
                            </div>
                            <div class="d-flex">
                                <button type="submit" class="register-btn ml-auto">Register</button>
                            </div>
                        </form>
                        <div class="d-flex justify-content-center">
                            <img src="https://agile-wiki.sfo2.cdn.digitaloceanspaces.com/logo.svg" alt="" width="100"
                                 height="100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}