{% extends 'wiki/base_template.html' %}
{% block content %}

    <div class="article-form">
        <form action="{% url 'add-article' %}" method="post" autocomplete="off">
            {% csrf_token %}
            <h3>Title:</h3>
            {{ form.title }}
            <h3>Article:</h3>
            {{ form.body }}
            <div class="d-flex mt-2">
                <div class="ml-auto">
                    <button type="submit" class="btn btn-sm btn-primary">Submit Article</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}