{% extends 'wiki/base_template.html' %}

{% block content %}

    <div class="d-flex align-items-center">
        <h1>{{ article.title }}</h1>
    </div>
    <h5>{{ article.user.username }}</h5>
    <div class="d-flex mb-4">
        {% if article.rating %}
            <div>
                <span class="mr-2">Rating</span>
                {% for i in "x"|ljust:article.rating %}
                    <span class="text-warning">&#9733;</span>
                {% endfor %}
            </div>
        {% endif %}

    </div>
    <p>{{ article.body | linebreaks }}</p>
    <div>
        <a href="#" class="btn btn-sm btn-primary">Rate Me</a>
    </div>
    {#  Comments #}
    <div class="mt-5">
        <div class="d-flex align-items-center">
            <h3>Comments</h3>
            <div class="ml-auto">
                <a href="#" role="button" data-toggle="collapse" data-target="#comment" class="text-primary"
                   style="text-decoration: none">Leave a comment</a>
            </div>
        </div>
        <div class="collapse mb-3" id="comment">
            <div class="comment_form">
                <form action="{% url 'article-comment' pk=article.id %}" method="post" autocomplete="off">
                    {% csrf_token %}
                    {{ comment_form.body }}
                    <div class="d-flex align-items-center mt-3">
                        <div class="ml-auto">
                            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="list-group list-group-flush">
            {% if article.has_comments %}
                {% for c in article.reversed_comments %}
                <div class="list-group-item d-flex flex-column">
                    <span><b>{{ c.user.username }}</b></span>
                    <p class="mb-2">
                        {{ c.body }}
                    </p>
                    <div class="ml-auto">
                        <a href="#" class="text-primary" style="text-decoration: none">
                            <i class="far fa-thumbs-up"></i>
                            <span>1</span></a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="list-group-item d-flex flex-column">
                    <span>There are no comments on this article. Please leave a comment</span>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
