{% extends 'wiki/base_template.html' %}

{% block content %}

    {% if not article.completed %}
        <div class="alert alert-info" role="alert">
            This is a <b>drafted</b> article. When finished please submit this article to go public.
        </div>
    {% endif %}

    <div class="d-flex align-items-center">
        <h1>{{ article.title }}</h1>
    </div>
    <h5>{{ article.user.username }}</h5>
    <div class="d-flex mb-4">
        {% if article.rating and article.completed %}
            <div>
                <span class="mr-2">Rating</span>
                {% for i in "x"|ljust:article.rating %}
                    <span class="text-warning">&#9733;</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% if article.image_url %}
        <img src="{{ article.image_url }}" alt="article image" width="250" height="250" id="article_image">
    {% endif %}
    <p>{{ article.body | linebreaks }}</p>
    <hr>
    <div class="d-flex">
        {% if article.completed %}
            <a href="#" data-toggle="modal" data-target="#rate_model"
               class="btn btn-sm btn-primary">Rate Me</a>
        {% else %}
            <div class="">
                <a href="{% url 'complete_article' pk=article.id %}" class="btn btn-sm btn-primary">Submit
                    Article</a>
            </div>
        {% endif %}
        {% if article.user == user %}
            <div class="ml-auto">
                <a href="{% url 'edit-article' pk=article.id %}" class="btn btn-sm btn-primary">Edit</a>
                <a href="{% url 'delete-article' pk=article.id %}" class="btn btn-danger btn-sm">Delete</a>
            </div>
        {% endif %}
    </div>
    {% if article.completed %}
        {#  Comments #}
        <div class="mt-5">
            <div class="d-flex align-items-center">
                <h3>Comments</h3>
                <div class="ml-auto">
                    <a href="#" role="button" data-toggle="collapse" data-target="#comment" class="text-primary"
                       style="text-decoration: none">Leave a comment</a>
                </div>
            </div>
            <div class="collapse mb-3" id="comment">
                <div class="comment_form">
                    <form action="{% url 'article-comment' pk=article.id %}" method="post" autocomplete="off">
                        {% csrf_token %}
                        {{ comment_form.body }}
                        <div class="d-flex align-items-center mt-3">
                            <div class="ml-auto">
                                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="list-group list-group-flush">
                {% if article.has_comments %}
                    {% for c in article.reversed_comments %}
                        <div class="list-group-item d-flex flex-column">
                            <div class="d-flex">
                                <span><b>{{ c.user.username }}</b></span>
                                {% if c.user == user %}
                                    <d class="ml-auto">
                                        {#                                        <a href="#" class="text-secondary mr-1"><i class="fas fa-pencil-alt"></i></a>#}
                                        <a href="{% url 'delete-comment' pk=c.id %}" class="text-danger"><i
                                                class="fas fa-trash-alt"></i></a>
                                    </d>
                                {% endif %}
                            </div>
                            <p class="mb-2">
                                {{ c.body | linebreaks }}
                            </p>
                            {#                        <div class="ml-auto">#}
                            {#                            <a href="#" class="text-primary" style="text-decoration: none">#}
                            {#                                <i class="far fa-thumbs-up"></i>#}
                            {#                                <span>1</span></a>#}
                            {#                        </div>#}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="list-group-item d-flex flex-column">
                        <span>There are no comments on this article. Please leave a comment</span>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="modal fade" id="rate_model" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rate This Article</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'rate' pk=article.id %}" method="post" autocomplete="off" id="rate_form">
                        {% csrf_token %}
                        <div class="d-flex">
                            <div class="ml-auto mr-auto">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="one" name="rate"
                                           class="custom-control-input" value="1">
                                    <label class="custom-control-label" for="one">1</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="two" name="rate"
                                           class="custom-control-input" value="2">
                                    <label class="custom-control-label" for="two">2</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="three" name="rate"
                                           class="custom-control-input" value="3">
                                    <label class="custom-control-label" for="three">3</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="four" name="rate"
                                           class="custom-control-input" value="4">
                                    <label class="custom-control-label" for="four">4</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="five" name="rate"
                                           class="custom-control-input" value="5">
                                    <label class="custom-control-label" for="five">5</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="rate_form" class="btn btn-sm  btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
