{% extends 'wiki/base_template.html' %}
{% block content %}
    <div class="contact-form">
        <form action="{% url 'contact' %}" method="post" autocomplete="off">
            {% csrf_token %}
            <h3>Subject:</h3>
            {{ form.subject }}
            <h3>Email:</h3>
            {{ form.sender }}
            <h3>Message:</h3>
            {{ form.message }}
            <div class="d-flex mt-3">
                <div class="ml-auto">
                    <input type="submit" name="send" class="btn btn-sm btn-primary" value="Send"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
