{% extends 'wiki/base_template.html' %}

{% block content %}

    <div class="d-flex align-items-center">
        <h1>{{ discussion.title }}</h1>
    </div>
    <h5>{{ discussion.user.username }}</h5>
    <p>{{ discussion.body }}</p>
    <div class="mt-5">
        <h3>Comments</h3>
        <div class="list-group list-group-flush">
            <div class="list-group-item d-flex flex-column">
                <span><b>Dawson Heide</b></span>
                <p class="mb-2">it is a long established fact that a reader will be distracted by the readable
                    content of a page
                    when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                    their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
                    infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                    purpose
                    (injected humour and the like).</p>
                <div class="ml-auto">
                    <a href="#" class="btn btn-sm btn-primary">
                        <i class="far fa-thumbs-up"></i>
                        <span class="text-white">1</span></a>
                </div>
            </div>
            <div class="list-group-item d-flex flex-column">
                <span><b>Dillon Hartley</b></span>
                <p class="mb-2">it is a long established fact that a reader will be distracted by the readable
                    content of a page
                    when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                    their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
                    infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                    purpose
                    (injected humour and the like).</p>
                <div class="ml-auto">
                    <a href="#" class="btn btn-sm btn-primary">Like <i class="far fa-thumbs-up"></i></a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}