{% extends 'wiki/base_template.html' %}
{% block content %}

    <div class="article-form">
        <form action="{% url 'edit-article' pk=form.instance.id %}" method="post" autocomplete="off">
            {% csrf_token %}
            <h3>Title:</h3>
            {{ form.title }}
            <h3>Article:</h3>
            {{ form.body }}
            <div class="d-flex mt-2">
                <div class="ml-auto">
                    <input type="submit" name="save" class="btn btn-sm btn-primary" value="Save"/>
                    <input type="submit" name="post" class="btn btn-sm btn-primary" value="Submit Article"/>
                </div>
            </div>
        </form>
    </div>

{% endblock %}