{% extends 'wiki/base_template.html' %}
{% block content %}



    <div class="mb-5">
        <h1 class="text-center mb-3">Welcome to the Agile Wiki</h1>
        <p> Hello and welcome to the premier wiki site for all things agile! Our site is a free and user submitted
            collection of articles meant to be a useful tool for current and future project managers. We believe
            information is the world's most powerful tool and we would like to provide access to everyone around the
            world with a up to date resource for project management. Feel free to look around the site and read some of
            the contributions our amazing users have made! If you feel like you can contribute as well to our knowledge
            database then we recommend you create an account and write away. While our site is free for any and all
            users, we do have to keep the lights on so you will be prompted to donate to our site. All of the donations
            go directly to up keep on the site and we will never block out our information behind a paywall so donating
            is completely optional.
        </p>
        <p>
            We hope you enjoy the content and that you learn something new today!
        </p>
        <p> - Agile wiki team</p>

    </div>
    <h3 class="mb-2 mt-auto">Top Articles</h3>
    {% if top_articles %}

        <div class="list-group list-group-flush">
            {% for a in top_articles %}
                <a href="{% url 'article-detail' pk=a.id %}" class="list-group-item list-group-item-action">
                    <div class="d-flex">
                        <h5>{{ a.title }}</h5>
                        <span class="ml-auto"><b>{{ a.user.username }}</b></span>
                    </div>
                    <p class="mb-1">{{ a.preview }}</p>
                    <div class="d-flex mb-4">
                        {% if a.rating %}
                            <div>
                                <span class="mr-2">Rating</span>
                                {% for i in "x"|ljust:a.rating %}
                                    <span class="text-warning">&#9733;</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>

    {% else %}

        <hr>
        <span>There are no top articles</span>

    {% endif %}


{% endblock %}