<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ml-5 mr-1" href="{% url 'index' %}">
        <img src="https://agile-wiki.sfo2.cdn.digitaloceanspaces.com/logo_name.svg" alt="logo with name" class="src"
             width="80" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-5">
                <a class="nav-link" href="#">Questions & Answers</a>
            </li>
            {% if not user.is_authenticated %}
                <li class="nav-item mr-5">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link" href="{% url 'login' %}" tabindex="-1">Sign In</a>
                </li>
            {% else %}
                <li class="nav-item mr-5">
                    <a class="nav-link" href="#">{{ user.username }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>