<ul class="sidebar navbar-nav">
    <div class="mt-4">
        <li class="nav-item ml-2">
            <a class="nav-link group" href="#" role="button" data-toggle="collapse" data-target="#overview">
                <span>Overview</span>
            </a>
        </li>
        <div class="collapse" id="overview">
            <ul class="links">
                <li>
                    <a href="#">Quality Focus</a>
                </li>
                <li>
                    <a href="#">Feedback Loop</a>
                </li>
                <li>
                    <a href="#">F2F Communication</a>
                </li>
                <li>
                    <a href="#">Sprints</a>
                </li>
            </ul>
        </div>
        <li class="nav-item ml-2">
            <a class="nav-link group" href="#" role="button" data-toggle="collapse" data-target="#philosophy">
                <span>Philosophy</span>
            </a>
        </li>
        <div class="collapse" id="philosophy">
            <ul class="links">
                <li>
                    <a href="#">Agile vs. Waterfall</a>
                </li>
                <li>
                    <a href="#">Code vs. Docs</a>
                </li>
                <li>
                    <a href="#">Adapt vs. Predictn</a>
                </li>
                <li>
                    <a href="#">Sprints</a>
                </li>
            </ul>
        </div>
        <li class="nav-item ml-2">
            <a class="nav-link group" href="#" role="button" data-toggle="collapse" data-target="#agile_management">
                <span>Agile Management</span></a>
        </li>
        <div class="collapse" id="agile_management">
            <ul class="links">
                <li>
                    <a href="#">Quality Focus</a>
                </li>
                <li>
                    <a href="#">Feedback Loop</a>
                </li>
                <li>
                    <a href="#">F2F Communication</a>
                </li>
                <li>
                    <a href="#">Sprints</a>
                </li>
            </ul>
        </div>
        <li class="nav-item ml-2">
            <a class="nav-link link" href="{% url 'articles' %}">
                <span class="item">Articles</span></a>
        </li>
        <li class="nav-item ml-2">
            <a class="nav-link link" href="#">
                <span class="item">History</span></a>
        </li>
        <li class="nav-item ml-2">
            <a class="nav-link link" href="#">
                <span class="item">References</span></a>
        </li>
        <li class="nav-item ml-2">
            <a class="nav-link link" href="#">
                <span class="item">External Links</span></a>
        </li>
    </div>
</ul>
