<ul class="sidebar navbar-nav">
    <div class="mt-4">
        <li class="nav-item ml-2">
            <a class="nav-link group" href="#">
                <span>Overview</span>
            </a>
        </li>
        <li class="nav-item ml-2">
            <a class="nav-link group" href="#">
                <span>Philosophy</span>
            </a>
        </li>
        <li class="nav-item ml-2">
            <a class="nav-link group" href="#">
                <span>Agile Management</span></a>
        </li>
        <li class="nav-item ml-2">
            <a class="nav-link link" href="#">
                <span class="item">History</span></a>
        </li>
        <li class="nav-item ml-2">
            <a class="nav-link link" href="#">
                <span class="item">References</span></a>
        </li>
        <li class="nav-item ml-2">
            <a class="nav-link link" href="#">
                <span class="item">External Links</span></a>
        </li>
    </div>
</ul>
