/* Sidebar 51C3A0*/


#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#wrapper #content-wrapper {
    overflow-x: hidden;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 80px;
}

.sidebar {
    width: 225px !important;
    background-color: #51C3A0;
    min-height: calc(100vh - 56px);
}

.sidebar .nav-item .nav-link {
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 225px;
}

.sidebar .links {
    list-style: none;
    margin-left: 10px;
    color: white;
}

.sidebar .links li a {
    text-decoration: none;
    color: white;
}

.sidebar .links li::before {
    content: "\2013";
}

.sidebar .nav-item .nav-link {
    color: white;
}

.sidebar .nav-item .item {
    margin-left: 1.50em;
}

.sidebar .nav-item .group::before {
    content: url("dropdown_arrow.svg");
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-right: .25em;
}

@media (max-width: 768px) {

    .sidebar {
        display: none;
    }

}